* {
    font-family: 'Roboto', sans-serif;;
}

body {
    margin: 0 100px;
    padding: 0;

    background: rgb(44, 41, 41);
}

nav {
    margin: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;

    color:rgb(211, 211, 211);

    margin: 20px 0;
    padding: 10px;

    transition: font-size 0.5s;
    transition: padding 0.5s;
}

a:hover {
    font-size: 22px;

    padding: 15px;

    color: rgb(255, 255, 255);
}

a:active {
    font-size: 18px;

    padding: 5px;

    color:rgb(185, 185, 185);
}

nav a {
    background: rgb(87, 87, 87);
}

nav a:hover {
    background: rgb(165, 165, 165);
}

nav a:active {
    background: rgb(43, 43, 43);
}

.left {
    position: fixed;
    top: 10;
    left: -30px;

    transition: left 0.5s;
}

.left:hover {
    left: 0px;
    padding: 10px 10px 10px 50px;
}

.left:active {
    left: -20px;
}

.right {
    position: fixed;
    top: 10;
    right: -30px;

    transition: right 0.5s;
}

.right:hover {
    right: 0px;
    padding: 10px 10px 10px 50px;
}

.right:active {
    right: -20px;
}

div {
    margin: auto;
    padding: 5px;

    background: rgb(26, 25, 25);
    color: rgb(238, 238, 238);

    text-align: center;
    font-size: 18px;
}

div div {
    background: rgb(59, 56, 56);
}

img {
    max-height: 50%;
    max-width: 50%;
}

ul {
    text-align: start;
}

.no-list-style {
    list-style: none;
    margin: 0 0 0 -35px;
}

.no-list-style a {
    font-size: 24px;
}

.videos {
    margin: 25px 0 0 0;
}

p {
    margin: 40px 0 20px 0;
}

p a {
    background: rgb(12, 211, 12);
}

p a:hover {
    background: rgb(6, 250, 6);
}

p a:active {
    background: rgb(7, 189, 7);
}

video {
    max-width: 600px;
    max-height: 650px;
}

summary {
    color:rgb(211, 211, 211);
}

summary:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

summary:active {
    color:rgb(185, 185, 185);
}

footer {
    text-align: center;
    
    max-width: 100%;
}

footer img {
    margin: 10px;

    max-width: 45px;
    
    filter: invert(100%) contrast(20%);
    
    transition: max-width 0.5s;
}

footer img:hover {
    max-width: 55px;

    filter: invert(100%) contrast(80%);
}

footer img:active {
    max-width: 35px;

    filter: invert(30%);
}

/* Mobile */

@media screen and (max-width: 900px) {

    body {
        margin: 0;
    }

    .left {
        left: -25px;
    }
    
    .right {
        right: -25px;
    }

    img {
        max-width: 80%;
        max-height: 80%;
    }

    video {
        max-width: 80%;
        max-height: 80%;
    }

    footer img {
        max-width: 35px;
    }

    footer img:hover {
        max-width: 40px;
    }

    footer img:active {
        max-width: 25px;
    }
}